<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>

    {% extends "template.html" %}
    {% set active_page = "home" %}
    {% block content %}
    
    
   
<!-- Header -->
<section class="section_header_home">
    <div class="container">
        <div class="home">
            <h2 class="text"> Home</h2>
        </div>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
             <div class="alert alert-success">
                {% for message in messages %}
                  {{ message }}
                {% endfor %}
              </div>
              <script>
                  setTimeout(function() {
                      var flashes = document.querySelector('.alert');
                      if (flashes) {
                          flashes.parentNode.removeChild(flashes);
                      }
                  }, 5000);
              </script>
          {% endif %}
      {% endwith %}

    
        <div class="home">
            <div class="header_home">
                <div class="box">
                  <p class="text_align_left"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut tenetur soluta amet, ipsum, provident possimus quo at consequuntur temporibus eius cupiditate. Nostrum aut numquam impedit doloremque quo laborum eaque rerum provident sed est incidunt dolore libero, at distinctio tenetur dicta. Expedita necessitatibus est, illo excepturi dolore fugit animi maiores sequi.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda itaque impedit libero et mollitia pariatur rerum quibusdam veritatis beatae? Itaque necessitatibus doloribus ab porro totam ullam repellat tenetur fugit maiores!
                  </p>
                  <div class="container_buttons_header_home">
                    <a href="/register" class="btn btn-primary btn-lg mr-2"> Register</a>
                    <a href="/login" class="btn btn-primary btn-lg mr-2"> Login</a>
                  </div>
                </div>
                <div class="box">
                  <img src="static/carbon_app.svg" width="275" height="275" alt="">
                </div>
              </div>

        </div>
    </div>
  </section> 
  <!-- Developers-->
  <section class="section_developers">
    <div class="container">
      <div class="developers d_team">
        <h1 style="text-align: center;"> Our Team</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum quo recusandae sed praesentium corporis necessitatibus facilis et eveniet, hic illo! Assumenda modi quasi dolores, dicta velit laudantium magni nam quia laborum nostrum fuga eveniet, maxime maiores voluptates doloribus pariatur omnis?
        </p>
      </div>
      <div class="developers">
        {% set dev_team = [
          ("Christian", '5', 'men'), 
          ('Sara', '8', 'women'), 
          ('Richard', '7', 'men'),
          ('Per Ole', '10', 'men'),
          ('Jon', '4', 'men')]
          -%}

        {% for name, n, gender in dev_team %}
        <div class="box">
            <img src="https://randomuser.me/api/portraits/{{ gender|e}}/{{ n|e }}.jpg" alt="" style="border-radius: 50%; width:200px;">
          <h3> {{ name }}</h3>
          <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae temporibus repellendus eos nemo voluptas ducimus repudiandae esse possimus, a maxime sed quod iste minima quis!</p>
          <div class="container_buttons_developers">
            <a class="btn_developers" href="#">
              Curriculum
            </a>
          </div>
        </div>
        {% endfor %}
        
  </section>
    {% endblock %}
    
</body>
</html>